@use 'mixin';

.certificate {
  @include mixin.flex-box(center, center, row, nowrap);
  width: 100%;
  padding-top: 10em;
  padding-bottom: 10em;

  .certificate-card {
    @include mixin.flex-box(center, center, row, nowrap);
    width: 100%;
    min-height: 400px;

    .arrow {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: .3s;

      &:active {
        opacity: .5;
        width: 35px;
        height: 35px;
      }
    }

    .card-slide {
      @include mixin.flex-box(flex-start, center, row, nowrap);
      width: 100%;
      min-height: 300px;
      overflow-x: hidden;

        img {
          position: relative;
          width: 370px;
          object-fit: cover;
          padding: 1.5em;
          border-radius: .5em;
          box-shadow: 0 5px 10px rgba(255, 253, 253, 0.7);
        }

    }
  }
}
